# Nome do Workflow
name: Pipeline Hackathon Grupo 07

# Evento que irá acionar a pipeline
on: 
  push:
    branches:
      - main

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Download do Repositório
        uses: actions/checkout@v3     
        with:
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@v4   
        with:
          python-version: '3.10'

      - name: Install Requirements
        run:  pip install flask flask-wtf flask-cors PyMySQL cryptography gunicorn
